openapi: 3.0.3
info:
  title: Lambare API
  description: |
    REST API Go + MongoDB exposée via Cloudflare sur **lambare.fr**.

    ## Authentication
    Les routes `/api/v1/**` nécessitent un **Bearer token** JWT.
    1. `POST /auth/register` ou `POST /auth/login`
    2. Copiez l'`access_token` retourné
    3. Cliquez sur **Authorize** 🔒 et collez le token
  version: 1.0.0
  contact:
    name: Lambare
    url: https://lambare.fr

servers:
  - url: https://api.lambare.fr
    description: Production (Cloudflare Tunnel)
  - url: http://localhost:8080
    description: Local development

tags:
  - name: Health
    description: Liveness probe
  - name: Auth
    description: Inscription, connexion, refresh token
  - name: Items
    description: Opérations CRUD sur la collection items

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        "200":
          description: API opérationnelle
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time

  # ─── Auth ──────────────────────────────────────────────────────────────────

  /auth/register:
    post:
      tags: [Auth]
      summary: Créer un compte
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Compte créé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"

  /auth/login:
    post:
      tags: [Auth]
      summary: Se connecter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Authentification réussie
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Rafraîchir l'access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Nouveaux tokens
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ─── Items ─────────────────────────────────────────────────────────────────

  /api/v1/items:
    get:
      tags: [Items]
      summary: Lister les items (paginé)
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: search
          in: query
          description: Recherche full-text sur name + description
          schema:
            type: string
        - name: tags
          in: query
          description: Filtre par tags (séparés par des virgules)
          schema:
            type: string
            example: "go,api"
      responses:
        "200":
          description: Liste paginée d'items
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedItems"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [Items]
      summary: Créer un item
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateItemRequest"
      responses:
        "201":
          description: Item créé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/items/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: "665f1a2b3c4d5e6f7a8b9c0d"

    get:
      tags: [Items]
      summary: Récupérer un item
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Item trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      tags: [Items]
      summary: Mettre à jour un item
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateItemRequest"
      responses:
        "200":
          description: Item mis à jour
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Items]
      summary: Supprimer un item
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Item supprimé
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

# ─── Components ──────────────────────────────────────────────────────────────

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    RegisterRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          example: 3600
        user:
          $ref: "#/components/schemas/User"

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        role:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Item:
      type: object
      properties:
        id:
          type: string
          example: "665f1a2b3c4d5e6f7a8b9c0d"
        name:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateItemRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true

    UpdateItemRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true

    PaginatedItems:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Item"
        total:
          type: integer
        page:
          type: integer
        page_size:
          type: integer
        total_pages:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
        details:
          type: string

  responses:
    BadRequest:
      description: Requête invalide
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Non authentifié
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Ressource introuvable
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Ressource déjà existante
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
